<template>
    <lightning-input class="inputClass" label="Phone Number" 
        type="tel" name="phoneNumber"
        value={formatedPhoneNumber} 
        onchange={handleInputChange}>
    </lightning-input>
</template>